* {
  padding: 0;
  margin: 0;
}
body {
  font-family: sans-serif;
  font-size: 18px;
}
/* Header Inicio */
header {
  position: fixed;
  width: 100%;
  z-index: 2;
  transition: all 0.5s;
}
header nav .logo {
  width: 50px;
  height: 50px;
}
header nav span {
  font-size: 1.5em;
  color: white;
}
header nav ul li {
  list-style: none;
}
header nav ul li a {
  color: white;
  font-size: 1.3em;
}
/* Header Fim */

/* Section Home Inicio*/
main section.home-content {
  background-image: url("../img/bg-header.jpg");
  height: 100vh;
  background-size: cover;
}
.home-content h1,
.home-content p,
.home-content a {
  text-transform: capitalize;
  color: white;
}

.home-content h1 {
  font-size: 4em;
}
.home-content p {
  font-size: 1.5em;
}
.home-content a {
  font-size: 1.2em;
  background-color: #343a40;
  border-radius: 15px;
  padding: 15px 20px;
}
section.home-content a:hover {
  color: #343a40;
  background-color: #fff;
  text-decoration: none;
}

/* Section Home Fim */

/* Section Services Inicio */

section.services {
  height: 60vh;
  background-color: #8c654c;
  padding-top: 20px;
}

section.services h1 {
  font-weight: bold;
  color: white;
  font-size: 2em;
  margin-bottom: 1px;
}
section.services p {
  font-size: 2em;
  margin-bottom: 50px;
}
article.icons {
  width: 90%;
}
article.icons i {
  background-color: #fff;
  color: #8c654c;
  border-radius: 50%;
  padding: 40px;
  font-size: 4em;
  margin-bottom: 10px;
}
/* Section Services Fim */
/* Altera o tamanho da barra de rolagem inicio */
::-webkit-scrollbar {
  width: 10px;
}

/* Altera o tamanho da barra de rolagem fim */
/* ALtera a cor e a borda da barra de rolagem inicio */
::-webkit-scrollbar-thumb {
  border: 1px solid #f1f1f1;
  background-color: #343a40;
}

::-webkit-scrollbar-thumb:hover {
  border: 1px solid #0db2db;
}
/* ALtera a cor e a borda da barra de rolagem fim */
/* ALtera a cor de fundo da barra de rolagem inicio  */

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
/* ALtera a cor de fundo da barra de rolagem fim  */
